.container_dashboard{
    margin: auto;
    width: 1020px;
}

.container_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.container_header img {
    width: 22px;
    height: 18px;
}

.container_header button{
    cursor: pointer;
}

.container_cards{
    display: flex;
    justify-content: space-around;
}

.select_coin_type{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select_coin_type button{
    cursor: pointer;
}

button{
    border: none
}
