.btn {
    background-color: #F4C23B;;
    color: #000000;
    font-weight: bold;
    padding: 0.5em 1em;
    transition: .5s;
    cursor: pointer;
    border-radius: 8px; 
    text-decoration: none;
}

.btn:hover{
    color: #F4C23B;
    background-color:#000000 ;
}